@** Name: Bilal Ahmad
    * Date: Feb 13, 2020
    * Purpose: Registration page for new customer registration
*@
@model Team5_Workshop5.Models.Customer
@{
    ViewBag.Title = "Customer Registration";
}
<div class="bg-light p-3 rounded border border-primary">
    <h2 class="text-center pt-2">Customer Registration</h2>
    @using (Html.BeginForm("CustomerRegistration", "Customer", FormMethod.Post))
    {
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(t => t.CustFirstName, "First Name")
                    @Html.TextBoxFor(u => u.CustFirstName, new { @class = "form-control", placeholder = "Enter your First Name" })
                    @Html.ValidationMessageFor(u => u.CustFirstName, "", new { @style = "color:red" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(l => l.CustLastName, "Last Name")
                    @Html.TextBoxFor(u => u.CustLastName, new { @class = "form-control", placeholder = "Enter Your Last Name" })
                    @Html.ValidationMessageFor(u => u.CustLastName, "", new { @style = "color:red" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(l => l.CustAddress, "Address")
                    @Html.TextBoxFor(u => u.CustAddress, new { @class = "form-control", placeholder = "Enter your Address" })
                    @Html.ValidationMessageFor(u => u.CustAddress, "", new { @style = "color:red" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(l => l.CustCity, "City")
                    @Html.TextBoxFor(u => u.CustCity, new { @class = "form-control", placeholder = "Enter your City" })
                    @Html.ValidationMessageFor(u => u.CustCity, "", new { @style = "color:red" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(l => l.CustProv, "Province")
                    @Html.TextBoxFor(u => u.CustProv, new { @class = "form-control", placeholder = "Enter your Province Code (AB)" })
                    @Html.ValidationMessageFor(u => u.CustProv, "", new { @style = "color:red" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(l => l.CustPostal, "Postal")
                    @Html.TextBoxFor(u => u.CustPostal, new { @class = "form-control", placeholder = "Enter your Postal Code (A1A2B2)" })
                    @Html.ValidationMessageFor(u => u.CustPostal, "", new { @style = "color:red" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(l => l.CustCountry, "Country")
                    @Html.TextBoxFor(u => u.CustCountry, new { @class = "form-control", placeholder = "Enter your Country" })
                    @Html.ValidationMessageFor(u => u.CustCountry, "", new { @style = "color:red" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(l => l.CustHomePhone, "Home Phone")
                    @Html.TextBoxFor(u => u.CustHomePhone, new { @class = "form-control", placeholder = "Enter your Home Phone" })
                    @Html.ValidationMessageFor(u => u.CustHomePhone, "", new { @style = "color:red" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(l => l.CustBusPhone, "Business Phone")
                    @Html.TextBoxFor(u => u.CustBusPhone, new { @class = "form-control", placeholder = "Enter your Business Phone" })
                    @Html.ValidationMessageFor(u => u.CustBusPhone, "", new { @style = "color:red" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(l => l.CustEmail, "Email")
                    @Html.TextBoxFor(u => u.CustEmail, new { @class = "form-control", placeholder = "Enter your Email" })
                    @Html.ValidationMessageFor(u => u.CustEmail, "", new { @style = "color:red" })
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="form-group col-md-4">
                @Html.LabelFor(l => l.UserID, "UserID")
                @Html.TextBoxFor(u => u.UserID, new { @class = "form-control", placeholder = "Choose a Unique UserID" })
                @Html.ValidationMessageFor(u => u.UserID, "", new { @style = "color:red" })
            </div>
            <br />
            <div class="form-group col-md-4">
                @Html.LabelFor(l => l.Password, "Password")
                @Html.PasswordFor(u => u.Password, new { @class = "form-control", placeholder = "Enter your Password (Minimum 8 Characters)" })
                @Html.ValidationMessageFor(u => u.Password, "", new { @style = "color:red" })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(l => l.ConfirmPassword, "Confirm Password")
                @Html.PasswordFor(u => u.ConfirmPassword, new { @class = "form-control", placeholder = "Retype Password" })
                @Html.ValidationMessageFor(u => u.ConfirmPassword, "", new { @style = "color:red" })
            </div><br />
        </div>
        <div class="row justify-content-center">
            <h4 id="invalidLogin">@ViewBag.message</h4>
        </div>
        <div class="row justify-content-center">
            <br /><input class="btn btn-primary" value="Register" type="submit" />
        </div>

    }

</div>