@** Name: Bilal Ahmad
    * Date: Feb 13, 2020
    * Purpose: Login page to allow customers to login to the website
*@
@model Team5_Workshop5.Models.Customer
@{
    ViewBag.Title = "Login Customer";
}
<div class="col-md-4"></div>
<div class="loginStyle container bg-light col-md-4 rounded border border-primary">
    <h2 class="text-center pt-2">Login</h2>

    @using (Html.BeginForm("LoginCustomer", "Customer", FormMethod.Post))
    {
        <div class="container">
            <div class="form-group">
                @Html.LabelFor(a => a.UserID, "UserID")
                @Html.TextBoxFor(u => u.UserID, new { @class = "form-control", placeholder = "Enter your Email" })
                @Html.ValidationMessageFor(u => u.UserID, "", new { @style = "color:red" })
            </div>
            <div class="form-group">
                @Html.LabelFor(l => l.Password, "Password")
                @Html.PasswordFor(u => u.Password, new { @class = "form-control", placeholder = "Enter your Password" })
                @Html.ValidationMessageFor(u => u.Password, "", new { @style = "color:red" })
            </div>
            <div class="row justify-content-center">
                <input class="btn btn-primary" value="Login" type="submit" />
            </div>
            <br />
            <h6>
                @Html.ActionLink("Create a new account", "CustomerRegistration", "Customer", new { @class = "" })
            </h6>
        </div>
    }
    <h4 id="invalidLogin">@ViewBag.message</h4>
</div>
<div class="col-md-4"></div>


